{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
<form method="post"
enctype="multipart/form-data">
{% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock content %}
