{% extends "layouts/auth.html" %}
{% load static %}
{% block title %}
  Login | Pramey Shala
{% endblock title %}
{% block content %}
  <section>
    <div class="container p-10">
      <div class="flex flex-wrap items-center justify-center min-h-[90vh] ">
        <div class="w-full">
          <div class="block bg-base-100 rounded-2xl shadow-lg p-4">
            <div class="g-0 lg:flex lg:flex-wrap">
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <img width="auto"
                       height="auto"
                       class="mx-auto w-50 mb-12"
                       src="{% static 'svgs/logo.svg' %}"
                       alt="Pramey Shala" />
                  <form method="post">
                    {% csrf_token %}
                    <div class="relative mb-4">
                      <div class="form-control w-full djanog-custom-forms">{{ form }}</div>
                    </div>
                    <button class="btn btn-primary w-full p-2 mb-12"
                            data-ripple-light="true"
                            type="submit">Login</button>
                    {% comment %} <div class="flex items-center justify-end pb-6">
                      <p class="mb-0 mr-2">Don't have an account?</p>
                      <a href="{% url 'core:register' %}"
                         data-ripple-light="true"
                         class="btn btn-outline">Register</a>
                    </div> {% endcomment %}
                  </form>
                </div>
              </div>
              <div class="flex items-center lg:w-6/12 bg-gradient-to-tr from-primary to-secondary rounded-xl">
                <div class="px-4 py-6 text-white md:mx-6 md:p-12 ">
                  <h4 class="mb-6 text-xl font-semibold">We are more than just a company</h4>
                  <p class="text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
