{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      {% if perms.courses.add_subject %}
        <button onclick="create_chapter.showModal()"
                class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50">
          <i class="far fa-plus"></i>Add Subject
        </button>
      {% endif %}
      <form id="subject-filter-form"
            method="get"
            action="{% url 'courses:subjects' %}">
        <select class="select select-bordered max-w-xs"
                name="subject"
                id="subject-select"
                placeholder="All Subjects">
          <option class="text-left"
                  value=""
                  {% if not subject_filter %}selected{% endif %}>All Subjects</option>
          <option class="text-left"
                  value="Physics"
                  {% if subject_filter == 'Physics' %}selected{% endif %}>Physics</option>
          <option class="text-left"
                  value="Chemistry"
                  {% if subject_filter == 'Chemistry' %}selected{% endif %}>Chemistry</option>
          <option class="text-left"
                  value="Math"
                  {% if subject_filter == 'Math' %}selected{% endif %}>Maths</option>
          <option class="text-left"
                  value="Biology"
                  {% if subject_filter == 'Biology' %}selected{% endif %}>Biology</option>
        </select>
        <button class="btn bg-gradient-to-br from-indigo-600 to-purple-400 text-white px-3 border-0 shadow-md shadow-purple-500/50"
                type="button"
                id="clear-filter">Clear Filter</button>
      </form>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="flex flex-col gap-4 p-6 overflow-x-auto">
        <table class="table table-auto">
          <thead class="uppercase text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Short Description</th>
              <th class="px-4 py-3">Class</th>
              <th class="px-4 py-3">Slug</th>
              <th class="px-4 py-3">Publish At</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tfoot class="border-t border-blue-gray-50 py-3 px-5 text-left font-bold uppercase text-blue-gray-400 text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Short Description</th>
              <th class="px-4 py-3">Class</th>
              <th class="px-4 py-3">Slug</th>
              <th class="px-4 py-3">Publish At</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for subject in subjects %}
              <tr class="border-b border-blue-gray-50">
                <td class="px-4 py-3">{{ subject.name }}</td>
                <td class="px-4 py-3">{{ subject.short }}</td>
                <td class="px-4 py-3">{{ subject.standard }}</td>
                <td class="px-4 py-3">{{ subject.slug }}</td>
                <td class="px-4 py-3">{{ subject.publish_at }}</td>
                <td class="flex gap-2 px-4 py-3">
                  {% if perms.courses.change_subject %}
                    <button onclick="update_subject_{{ subject.pk }}.showModal()"
                            class="btn btn-sm btn-success btn-square">
                      <i class="fad fa-edit"></i>
                    </button>
                  {% endif %}
                  {% if perms.courses.delete_subject %}
                  <a href="{% url 'courses:subject-delete' pk=subject.pk %}"
                     onclick="if(confirm('Are you sure you want to delete {{ class.name }} from database?')) return true; else return false;"
                     class="btn btn-sm btn-error btn-square"><i class="far fa-trash-alt"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="p-5 flex justify-end">
    <div class="join">
      {% if page_obj.has_previous %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="join-item btn btn-disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
      {% if page_obj.has_next %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% if perms.courses.add_subject %}
  <dialog id="create_chapter"
          class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
    <form method="post"
          enctype="multipart/form-data"
          class="modal-box sm:max-w-5xl">
      {% csrf_token %}
      <h2 class="font-mono font-semibold text-lg">Add New Subject</h2>
      <div class="relative mb-4">
        <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">{{ form.as_div }}</div>
      </div>
      <div class="modal-action justify-between">
        <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
    <form method="dialog" class="modal-backdrop backdrop-blur-md">
      <button>close</button>
    </form>
  </dialog>
{% endif %}
{% if perms.courses.change_subject %}
  {% for subject in subjects %}
    <dialog id="update_subject_{{ subject.pk }}"
            class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
      <form method="post"
            enctype="multipart/form-data"
            action="{% url 'courses:subject-update' pk=subject.pk %}"
            class="modal-box sm:max-w-5xl">
        {% csrf_token %}
        <h2 class="font-mono font-semibold text-lg">Update - {{ subject.name }} of {{ subject.class }}</h2>
        <div class="relative mb-4">
          <div class="form-control w-full djanog-custom-forms grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ subject.form.as_div }}
          </div>
        </div>
        <div class="modal-action justify-between">
          <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
          <button type="submit" class="btn btn-success shadow">Update</button>
        </div>
      </form>
      <form method="dialog" class="modal-backdrop backdrop-blur-md">
        <button>close</button>
      </form>
    </dialog>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const subjectSelect = document.getElementById('subject-select');
    const subjectForm = document.getElementById('subject-filter-form');
    const clearFilterButton = document.getElementById('clear-filter');
  
    const urlParams = new URLSearchParams(window.location.search);
    const subjectFilter = urlParams.get('subject');
    
    subjectSelect.value = subjectFilter || "";

    subjectSelect.addEventListener('change', function () {
        subjectForm.submit();
    });
    
    clearFilterButton.addEventListener('click', function () {
        subjectSelect.value = ''; 
        subjectForm.submit();     
    });
});
    </script>
  {% endfor %}
{% endif %}
{% endblock content %}
{% block body_js %}
  <script>
        document.addEventListener('DOMContentLoaded', function () {
        const subjectSelect = document.getElementById('subject-select');
        const subjectForm = document.getElementById('subject-filter-form');
        const clearFilterButton = document.getElementById('clear-filter');
      
        const urlParams = new URLSearchParams(window.location.search);
        const subjectFilter = urlParams.get('subject');
        
        subjectSelect.value = subjectFilter || "";

        subjectSelect.addEventListener('change', function () {
            subjectForm.submit();
        });
        
        clearFilterButton.addEventListener('click', function () {
            subjectSelect.value = ''; 
            subjectForm.submit();     
        });
    });
  </script>
{% endblock body_js %}
