{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      {% if perms.courses.add_quizes %}
        <a href="{% url 'courses:quizzes-create' %}"
           class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50">
          <i class="far fa-plus"></i>Add Quiz
        </a>
      {% endif %}
      <form method="get" class="bg-white shadow-sm p-2 rounded-xl">
        <input class="input input-bordered"
               type="text"
               name="search"
               placeholder="Search..."
               value="{{ request.GET.search }}">
        <button class="btn btn-square bg-gradient-to-br from-purple-600 to-indigo-400 text-white px-6 border-0 shadow-md shadow-indigo-500/50"
                type="submit">
          <i class="fa-regular fa-magnifying-glass"></i>
        </button>
        <a class="btn btn-square bg-gradient-to-br from-deep-orange-600 to-orange-800 text-white px-4 border-0 shadow-md shadow-deep-orange-500/50"
           href="{% url 'courses:quizzes' %}"><i class="fa-regular fa-x"></i></a>
      </form>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="flex flex-col gap-4 p-6 overflow-x-auto">
        <table class="table table-auto">
          <thead class="uppercase text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Type</th>
              <th class="px-4 py-3">Questions</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tfoot class="border-t border-blue-gray-50 py-3 px-5 text-left font-bold uppercase text-blue-gray-400 text-sm">
            <tr>
              <th class="px-4 py-3">Name</th>
              <th class="px-4 py-3">Type</th>
              <th class="px-4 py-3">Questions</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for quiz in quizzes %}
              <tr class="border-b border-blue-gray-50">
                <td class="px-4 py-3">{{ quiz.name }}</td>
                <td class="px-4 py-3">{{ quiz.type }}</td>
                <td class="px-4 py-3">{{ quiz.question_count }}</td>
                <td class="flex gap-2 px-4 py-3">
                  <a href="{% url 'courses:quiz-update' pk=quiz.pk %}"
                     class="btn btn-sm btn-info btn-square"><i class="far fa-eye"></i></a>
                  {% if perms.courses.delete_quizes %}
                  <a href="{% url 'courses:quiz-delete' pk=quiz.pk %}"
                     onclick="if(confirm('Are you sure you want to delete {{ quiz.name }} from database?')) return true; else return false;"
                     class="btn btn-sm btn-error btn-square"><i class="far fa-trash-alt"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="p-5 flex justify-end">
    <div class="join">
      {% if page_obj.has_previous %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="join-item btn btn-disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
      {% if page_obj.has_next %}
        <a class="join-item btn btn-primary"
           href="?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}
