{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex flex-col sm:flex-row gap-2 justify-between px-6">
      {% if perms.courses.change_lesson %}
        <button onclick="edit_chapter.showModal()"
                class="btn bg-gradient-to-br from-green-600 to-green-900 text-white px-12 border-0 shadow-md shadow-green-500/50">
          <i class="far fa-pencil"></i>Edit Lesson
        </button>
      {% endif %}
      {% if perms.courses.delete_lesson %}
        <a href="{% url 'courses:lesson-delete' pk=lesson.pk %}"
           onclick="if(confirm('Are you sure you want to delete {{ class.name }} from database?')) return true; else return false;"
           class="btn bg-gradient-to-br from-red-600 to-orange-900 text-white px-12 border-0 shadow-md shadow-red-500/50">
          <i class="far fa-trash"></i>Delete Lesson
        </a>
      {% endif %}
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-6">
        <div class="p-4 md:border-r-2">
          {% if lesson.thumb_url %}
            <div class="rounded-lg">
              <img src="/{{ lesson.thumb_url }}"
                   alt="{{ lesson.title }}"
                   width="auto"
                   height="160px"
                   class="h-40" />
            </div>
          {% endif %}
          {% if lesson.lesson_type == 'video' and lesson.platform == 'file' %}
          {% if not lesson.status == 'processing' or lesson.status == 'ready' %}
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Upload Video</h2>
              <button onclick="upload_video.show()"
                      class="btn btn-block bg-gradient-to-br from-accent to-accent-content border-0 shadow shadow-accent/50 text-white">
                <i class="far fa-upload"></i>
                Upload Video
              </button>
              <p class="mx-4 my-1 bg-warning/80 text-warning-content rounded-xl text-center p-2 gap-2 text-sm">
                <i class="fad fa-exclamation-triangle"></i>
                Video is not uploaded yet.
              </p>
            </div>
            {% endif %}
          {% endif %}
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Title</h2>
            <p class="text-sm">{{ lesson.title }}</p>
          </div>
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Lesson Type</h2>
            <p class="text-sm capitalize">{{ lesson.lesson_type }}</p>
          </div>
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Lesson Duration</h2>
            <p class="text-sm">{{ lesson.duration }}</p>
          </div>
        </div>
        <div class="p-4">
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Description</h2>
            <p class="text-sm">{{ lesson.description }}</p>
          </div>
          {% if lesson.lesson_type == 'video' %}
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Video Platform</h2>
              <p class="text-sm capitalize">{{ lesson.platform }}</p>
            </div>
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Video ID</h2>
              <p class="text-sm">{{ lesson.platform_video_id }}</p>
            </div>
            <div class="mb-4">
              <h2 class="font-mono font-semibold">Status</h2>
              <p class="text-sm capitalize">{{ lesson.status }}</p>
            </div>
          {% endif %}
        </div>
        <div class="p-4">
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Chapter</h2>
            <p class="text-sm">{{ lesson.chapter.name }}</p>
          </div>
          <div class="mb-4">
            <h2 class="font-mono font-semibold">Course</h2>
            <p class="text-sm">{{ lesson.chapter.subject.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if perms.courses.change_lesson %}
    <dialog id="edit_chapter"
            class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
      <form method="post"
            enctype="multipart/form-data"
            action="{% url 'courses:lesson-update' pk=lesson.pk %}"
            class="modal-box sm:max-w-5xl">
        {% csrf_token %}
        <h2 class="font-mono font-semibold text-lg">
          Update - {{ lesson.title }} of {{ lesson.chapter.name }} in {{ lesson.chapter.subject.name }}
        </h2>
        <div class="relative mb-4">
          <div class="w-full djanog-custom-forms grid grid-flow-dense grid-cols-1 md:grid-cols-2 gap-4">{{ form }}</div>
        </div>
        <div class="modal-action justify-between">
          <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
      <form method="dialog" class="modal-backdrop backdrop-blur-md">
        <button>close</button>
      </form>
    </dialog>
  {% endif %}
  <dialog id="upload_video"
          class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
    <div class="modal-box sm:max-w-5xl">
      <h2 class="font-mono font-semibold text-lg">
        Upload Video for {{ lesson.title }} of {{ lesson.chapter.name }} in {{ lesson.chapter.subject.name }}
      </h2>
      <div class="m-10">
        <label id="fileLabel"
               class="flex justify-center w-full h-32 px-4 transition bg-base-200 border-2 border-gray-300 border-dashed rounded-2xl appearance-none cursor-pointer hover:border-gray-400 focus:outline-none">
          <span class="flex items-center space-x-2">
            <i class="far fa-upload"></i>
            <span class="font-medium text-gray-600 file_text">
              Drop files to Attach, or
              <span class="text-blue-600 underline">browse</span>
            </span>
          </span>
          <input type="file"
                 name="file_upload"
                 class="hidden"
                 accept="video/mp4,video/x-m4v,video/*">
        </label>
        <div class="form-control my-5">
          <label class="label">
            <span class="label-text">Progress</span>
            <span id="upload_percent" class="label-text-alt">Waiting for File</span>
          </label>
          <progress id="upload_progress" class="progress w-full"></progress>
        </div>
        <div class="text-center">
          <button id="UPLOAD_NOW"
                  onclick="uploadfile()"
                  class="hidden btn btn-circle bg-gradient-to-tr from-light-blue-600 to-blue-900 shadow-md shadow-blue-800/50 text-white border-0">
            <i class="far fa-up-from-line"></i>
          </button>
        </div>
      </div>
    </div>
    <form id="close_form"
          method="dialog"
          class="modal-backdrop backdrop-blur glass">
      <button>close</button>
    </form>
  </dialog>
{% endblock content %}
{% block body_js %}
  {% comment %} <script type="javascript" src="{% static 'js/tus.min.js' %}"></script> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.js"></script>
  <script>
    const fileInput = document.querySelector('input[name="file_upload"]');
    const fileLabel = document.getElementById("fileLabel");
    const filebtn = document.getElementById("UPLOAD_NOW");
    fileInput.addEventListener("change", function () {
      if (fileInput.files.length > 0) {
        filebtn.classList.remove("hidden");
        fileLabel.classList.add("border-blue-600", "bg-white");
        fileLabel.classList.remove("bg-base-200", "border-gray-300");
        fileLabel.querySelector(
          ".file_text"
        ).textContent = `Selected file: ${fileInput.files[0].name}`;
      } else {
        fileLabel.classList.remove("border-blue-600", "bg-white");
        fileLabel.classList.add("bg-base-200", "border-gray-300");
        filebtn.classList.add("hidden");
        fileLabel.querySelector(".file_text").textContent =
          "Drop files to Attach, or browse";
      }
    });
  </script>
  <script>
    // make function when clicked on #UPLOAD_NOW use TUS upload to bunny cdn
    function uploadfile() {
      console.log("Starting upload...");
      $("#upload_progress").attr("value", 0);
      $("#upload_percent").text("0%");
      const file = document.querySelector('input[name="file_upload"]').files[0];
      $("#UPLOAD_NOW")
        .removeClass(
          "bg-gradient-to-tr from-light-blue-600 to-blue-900 shadow-blue-800/50"
        )
        .addClass("btn-disabled")
        .attr("disabled", true)
        .html('<i class="fas fa-spinner fa-spin"></i>');
      $("#fileLabel").addClass("hidden transition-all duration-500 ease-in-out");
      $("#close_form").attr("disabled", true).attr("method", null).html("");

      var upload = new tus.Upload(file, {
        endpoint: "https://video.bunnycdn.com/tusupload",
        retryDelays: [0, 3000, 5000, 10000, 20000, 60000, 60000],
        headers: {
          AuthorizationSignature: "{{ sha256 }}",
          AuthorizationExpire: {{ expiration_time }},
          VideoId: "{{ lesson.platform_video_id }}",
          LibraryId: {{ LibraryId }},
        },
        metadata: {
          filetype: file.type,
          title: "{{ title }}",
          collection: "{{ collectionID }}",
        },
        onError: function (error) {
          console.error("Failed because: " + error);
        },
        onProgress: function (bytesUploaded, bytesTotal) {
          var percentage = ((bytesUploaded / bytesTotal) * 100).toFixed(2);
          $("#upload_progress").attr("value", percentage/100);
          $("#upload_percent").text(percentage + "%");
        },
        onSuccess: function () {
          alert('Video is Uploaded. Please wait for 5 minutes to process the video.');
          $("#close_form").attr("disabled", false).attr("method", 'dialog').html("<button>close</button>");
          $.ajax({
            url: "{% url 'courses:lesson-status-update' pk=lesson.pk %}",
            type: "POST",
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              status: "processing",
            },
            success: function (data) {
              console.log(data);
              location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
          upload_video.close();
        },
      });

      upload.findPreviousUploads().then(function (previousUploads) {
        if (previousUploads.length) {
          upload.resumeFromPreviousUpload(previousUploads[0]);
        }
        upload.start();
      });
    }
  </script>
  <script>
    new EasyMDE({element: document.getElementById('{{ form.description.id_for_label }}')});
  </script>
{% endblock body_js %}
{% block head_link %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock head_link %}

