<div class="form-control">
  <label for="{{ form.title.id_for_label }}">
    <span class="label-text">{{ form.title.label }}</span>
  </label>
  {{ form.title }}
  <label class="text-error">{{ form.title.errors }}</label>
</div>
<div class="form-control md:col-span-2">
  <label for="{{ form.description.id_for_label }}">
    <span class="label-text">{{ form.description.label }}</span>
  </label>
  {{ form.description }}
  <label class="text-error">{{ form.description.errors }}</label>
</div>
<div class="form-control">
  <label for="{{ form.thumb_url.id_for_label }}">
    <span class="label-text">{{ form.thumb_url.label }}</span>
  </label>
  {{ form.thumb_url }}
  <label class="text-error">{{ form.thumb_url.errors }}</label>
</div>
<div class="form-control">
  <label for="{{ form.lesson_type.id_for_label }}">
    <span class="label-text">{{ form.lesson_type.label }}</span>
  </label>
  {{ form.lesson_type }}
  <label class="text-error">{{ form.lesson_type.errors }}</label>
</div>
<div id="quiz_div_{{ form.prefix }}" class="form-control hidden">
  <label for="{{ form.quiz.id_for_label }}">
    <span class="label-text">{{ form.quiz.label }}</span>
  </label>
  {{ form.quiz }}
  <label class="text-error">{{ form.quiz.errors }}</label>
</div>
<div id="platform_div_{{ form.prefix }}" class="form-control hidden">
  <label for="{{ form.platform.id_for_label }}">
    <span class="label-text">{{ form.platform.label }}</span>
  </label>
  {{ form.platform }}
  <label class="text-error">{{ form.platform.errors }}</label>
</div>
<div id="url_div_{{ form.prefix }}" class="form-control hidden">
  <label for="{{ form.url.id_for_label }}">
    <span class="label-text">{{ form.url.label }}</span>
  </label>
  {{ form.url }}
  <label class="text-error">{{ form.url.errors }}</label>
</div>
<div class="form-control">
  <label for="{{ form.chapter.id_for_label }}">
    <span class="label-text">{{ form.chapter.label }}</span>
  </label>
  {{ form.chapter }}
  <label class="text-error">{{ form.chapter.errors }}</label>
</div>
<div class="form-control">
  <label for="{{ form.teacher.id_for_label }}">
    <span class="label-text">{{ form.teacher.label }}</span>
  </label>
  {{ form.teacher }}
  <label class="text-error">{{ form.teacher.errors }}</label>
</div>
<div class="form-control">
  <label for="{{ form.public.id_for_label }}">
    <span class="label-text">{{ form.public.label }}</span>
  </label>
  {{ form.public }}
  <label class="text-error">{{ form.public.errors }}</label>
</div>
<script>
  $(document).ready(function() {
    // Function to toggle visibility of platform field
    function toggleFields{{ form.prefix }}() {
      var lessonType = $("#{{ form.lesson_type.id_for_label }}").val();
      if (lessonType === "video") {
        $("#platform_div_{{ form.prefix }}").removeClass("hidden");
      }else if (lessonType === "quiz") {
        $("#quiz_div_{{ form.prefix }}").removeClass("hidden");
      } else {
        $("#quiz_div_{{ form.prefix }}").addClass("hidden");
        $("#platform_div_{{ form.prefix }}").addClass("hidden");
        $("{{ form.platform.id_for_label }}").val("");
      }
    }
    // Function to toggle visibility of url field
    function togglePlatform{{ form.prefix }}() {
      var platform = $("#{{ form.platform.id_for_label }}").val();
      if (platform === "youtube" || platform === "vimeo") {
        $("#url_div_{{ form.prefix }}").removeClass("hidden");
      } else {
        $("#url_div_{{ form.prefix }}").addClass("hidden");
      }
    }
    // Call the toggleFields function on page load
    toggleFields{{ form.prefix }}();
    togglePlatform{{ form.prefix }}();
  
    // Call the toggleFields function when lesson type changes
    $("#{{ form.lesson_type.id_for_label }}").change(function() {
      toggleFields{{ form.prefix }}();
    });
    // Call the togglePlatform function when platform changes
    $("#{{ form.platform.id_for_label }}").change(function() {
      togglePlatform{{ form.prefix }}();
    });
  });
</script>
