{% extends "layouts/dashboard.html" %}
{% load static %}
{% load truncate %}
{% block title %}
  {{ title }} | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="mt-12 mb-8 flex flex-col gap-12">
    <div class="flex justify-between px-6">
      {% if perms.courses.add_lesson %}
        <button onclick="create_chapter.showModal()"
                class="btn bg-gradient-to-br from-purple-600 to-pink-400 text-white px-12 border-0 shadow-md shadow-purple-500/50">
          <i class="far fa-plus"></i>Add Lesson
        </button>
      {% endif %}
      <form method="get" class="bg-white shadow-sm p-2 rounded-xl">
        <input class="input input-bordered"
               type="text"
               name="search"
               placeholder="Search..."
               value="{{ request.GET.search }}">
        <button class="btn btn-square bg-gradient-to-br from-purple-600 to-indigo-400 text-white px-6 border-0 shadow-md shadow-indigo-500/50"
                type="submit">
          <i class="fa-regular fa-magnifying-glass"></i>
        </button>
        <a class="btn btn-square bg-gradient-to-br from-deep-orange-600 to-orange-800 text-white px-4 border-0 shadow-md shadow-deep-orange-500/50"
           href="{% url 'courses:lessons' %}"><i class="fa-regular fa-x"></i></a>
      </form>
    </div>
    <div class="relative flex w-full flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
      <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
        <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">{{ title }}</h1>
      </div>
      <div class="flex flex-col gap-4 p-6 overflow-x-auto">
        <table class="table table-auto">
          <thead class="uppercase text-sm">
            <tr>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3">Description</th>
              <th class="px-4 py-3">Chapter</th>
              <th class="px-4 py-3">Lesson Type</th>
              <th class="px-4 py-3">Status</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </thead>
          <tfoot class="border-t border-blue-gray-50 py-3 px-5 text-left font-bold uppercase text-blue-gray-400 text-sm">
            <tr>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3">Description</th>
              <th class="px-4 py-3">Chapter</th>
              <th class="px-4 py-3">Lesson Type</th>
              <th class="px-4 py-3">Status</th>
              <th class="px-4 py-3">Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for lesson in lessons %}
              <tr class="border-b border-blue-gray-50">
                <td class="px-4 py-3">{{ lesson.title }}</td>
                <td class="px-4 py-3">{{ lesson.description|truncatewords_by_chars:60 }}</td>
                <td class="px-4 py-3">{{ lesson.chapter }}</td>
                <td class="px-4 py-3 capitalize">{{ lesson.lesson_type }}</td>
                <td class="px-4 py-3 {% if lesson.status != 'ready' and lesson.lesson_type == 'video' %}bg-warning/70 text-warning-content{% endif %} capitalize">
                  {% if lesson.status != 'ready' and lesson.lesson_type == 'video' %}<i class="fad fa-warning mr-1"></i>{% endif %}
                  {{ lesson.status }}
                </td>
                <td class="flex gap-2 px-4 py-3">
                  <a href="{% url 'courses:lesson-detail' pk=lesson.pk %}"
                     class="btn btn-info btn-sm">
                    <i class="fad fa-eye"></i>
                    Show
                  </a>
                  {% if perms.courses.change_lesson %}
                    <button onclick="update_lesson_{{ lesson.pk }}.showModal()"
                            class="btn btn-sm btn-success btn-square">
                      <i class="fad fa-edit"></i>
                    </button>
                  {% endif %}
                  {% if perms.courses.delete_lesson %}
                    <a href="{% url 'courses:lesson-delete' pk=lesson.pk %}"
                       onclick="if(confirm('Are you sure you want to delete {{ class.name }} from database?')) return true; else return false;"
                       class="btn btn-sm btn-error btn-square">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="p-5 flex justify-end">
        <div class="join">
          {% if page_obj.has_previous %}
            <a class="join-item btn btn-primary"
               href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="join-item btn btn-disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
            <a class="join-item btn btn-primary"
               href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if perms.courses.add_lesson %}
    <dialog id="create_chapter"
            class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
      <form method="post"
            enctype="multipart/form-data"
            class="modal-box sm:max-w-5xl">
        {% csrf_token %}
        <h2 class="font-mono font-semibold text-lg">Add New Lesson</h2>
        <div class="relative mb-4">
          <div class="w-full djanog-custom-forms grid grid-flow-dense grid-cols-1 md:grid-cols-2 gap-4">{{ form }}</div>
        </div>
        <div class="modal-action justify-between">
          <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
      <form method="dialog" class="modal-backdrop backdrop-blur-md">
        <button>close</button>
      </form>
    </dialog>
  {% endif %}
  {% if perms.courses.change_lesson %}
    {% for lesson in lessons %}
      <dialog id="update_lesson_{{ lesson.pk }}"
              class="modal modal-bottom sm:modal-middle transition-all duration-500 ease-in-out">
        <form method="post"
              enctype="multipart/form-data"
              action="{% url 'courses:lesson-update' pk=lesson.pk %}"
              class="modal-box sm:max-w-5xl">
          {% csrf_token %}
          <h2 class="font-mono font-semibold text-lg">
            Update - {{ lesson.title }} of {{ lesson.chapter.name }} in {{ lesson.chapter.subject.name }}
          </h2>
          <div class="relative mb-4">
            <div class="w-full djanog-custom-forms grid grid-flow-dense grid-cols-1 md:grid-cols-2 gap-4">{{ lesson.form }}</div>
          </div>
          <div class="modal-action justify-between">
            <p class="text-xs mt-auto">Press esc to close the window or outside the dialog box.</p>
            <button type="submit" class="btn btn-success shadow">Update</button>
          </div>
        </form>
        <form method="dialog" class="modal-backdrop backdrop-blur-md">
          <button>close</button>
        </form>
      </dialog>
      <script>new EasyMDE({element: document.getElementById('{{ lesson.form.description.id_for_label }}')});</script>
    {% endfor %}
  {% endif %}
{% endblock content %}
{% block head_link %}
  <link rel="stylesheet"
        href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock head_link %}
{% block body_js %}
  <script>new EasyMDE({element: document.getElementById('{{ form.description.id_for_label }}')});</script>
{% endblock body_js %}
