{% extends "layouts/dashboard.html" %}
{% load static %}
{% block title %}
{{ assignments.title }} - Assignment | Pramey Shala
{% endblock title %}
{% block content %}
  <div class="flex gap-4">
    <embed type="application/pdf"
           src="{% static 'media/' %}{{ assignments.assigment_file }}"
           class="w-full min-h-[75vh] shadow-md shadow-indigo-300/50">
  </embed>
  <div class="relative flex w-1/3 flex-col rounded-xl bg-base-100 bg-clip-border text-base-content shadow-md">
    <div class="relative mx-4 -mt-6 mb-4 grid px-6 py-8 overflow-hidden rounded-xl bg-gradient-to-tr from-indigo-600 to-indigo-400 bg-clip-border text-white shadow-lg shadow-indigo-500/40">
      <h1 class="block font-sans leading-snug tracking-normal text-white antialiased text-lg font-semibold">
        {{ assignments.title }}
      </h1>
    </div>
    <div class="p-3">
      <a href="{% url 'courses:assignment-submissions' pk=assignments.pk %}" class="btn btn-success text-white text-xs mb-2">Submitted Solutions</a>
      <h3 class="font-sans font-medium">Description</h3>
      <p>{{ assignments.description }}</p>
      <h3 class="font-sans font-medium">Time Required</h3>
      <p>{{ assignments.due_date }}</p>
      <h3 class="font-sans font-medium">Uploaded By</h3>
      <p>{{ assignments.teacher.full_name }}</p>
      <h3 class="font-sans font-medium">Assignment Type</h3>
      <p>{{ assignments.type }}</p>
      <div class="mt-2">
        <a href="{% url 'courses:assignments' %}" class="btn btn-error text-white text-xs mt-2">Close</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block head_link %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock head_link %}
{% block body_js %}
<script>
  new EasyMDE({element: document.getElementById('{{ form.description.id_for_label }}')});
</script>
{% endblock body_js %}
