{% if debug %}
  {% load django_browser_reload %}
{% endif %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="description" content="{% block desc %}{% endblock desc %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
    <link rel="apple-touch-icon" href="{% static 'icon.png' %}" />
    <link rel="icon" sizes="192x192" href="{% static 'icon.png' %}">
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            crossorigin
            referrerpolicy="no-referrer"></script>
    {% block head_link %}
    {% endblock head_link %}
  </head>
  <body class="min-h-screen bg-blue-gray-50/50">
    <aside id="sidebar"
           class="bg-white shadow-lg -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0 overflow-y-auto">
      <div class="flex justify-end">
        <button onclick="closeSidebar()"
                class="btn btn-square btn-ghost btn-sm mt-4 mr-4 xl:hidden">
          <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="relative border-b border-blue-gray-50">
        <a href="{{ url }}">
          <img width="auto"
               class="py-6 px-8"
               height="auto"
               src="{% static 'svgs/logo.svg' %}"
               alt="Pramey Shala" />
        </a>
      </div>
      <div class="m-4">
        <ul class="menu menu-md gap-2 mb-2">
          {% include "menu/list_item.html" %}
        </ul>
      </div>
    </aside>
    <main class="p-4 xl:ml-80" id="top">
      {% include "nav/dashboard.html" %}
      <div class="mt-12">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% if messages %}
      <div class="toast toast-end transition-all ease-in duration-1000">
        {% comment %}
        """making all alert-<color> render"""
        <span class="alert-info" /><span class="alert-success" />
        <span class="alert-error" /><span class="alert-warning" />
        {% endcomment %}
        {% for message in messages %}
          <div class="alert text-white alert-{% if message.tags %}{{ message.tags }}{% endif %}"
               data-dismissible="chip">
            <div class="absolute top-1 right-1 mx-px mt-[0.5px] w-max"
                 data-dismissible-target="chip">
              <button class="btn btn-xs btn-circle btn-neutral">x</button>
            </div>
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <script src="{% static 'scripts/vendor/fontawesome/all.min.js' %}"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/dismissible.js"></script>
    <script>
      $(document).ready(function () {
        $(".toast").each(function () {
          $(this).delay(3000).fadeOut(1000);
        });
      });
      function openSidebar() {
        $("#sidebar").removeClass("-translate-x-80");
        $("#sidebar").addClass("translate-x-0");
        $("#side_btn").addClass("hidden");
        $(".sidebar_btn_close").removeClass("hidden");
      }
      function closeSidebar() {
        $("#sidebar").addClass("-translate-x-80");
        $("#sidebar").removeClass("translate-x-0");
        $("#side_btn").removeClass("hidden");
        $(".sidebar_btn_close").addClass("hidden");
      }
    </script>
    {% block body_js %}
    {% endblock body_js %}
    {% if debug %}
      {% django_browser_reload_script %}
    {% endif %}
  </body>
</html>
